* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0f0f0f;
  font-family: 'Roboto', sans-serif;
  margin: 20px;
}

.active {
  background-color: #0f0;
}

h1 {
  color: rgb(209, 209, 209);
  text-align: center;
  margin: 60px auto;
  font-weight: 500;
}

footer a{
  display: flex;
  margin: 60px auto;
  text-decoration: none;
  justify-content: center;
  color: rgb(209, 209, 209);
}

.container {
  width: 960px;
  margin: 0 auto;
}

.tabs {
  display: flex;
  justify-content: space-between;
  background-color: black;
}

button {
  background: #0f0f0f;
  color: rgb(209, 209, 209);
}

.tabs button {
  font-size: 15px;
  border: none;
  cursor: pointer;
  padding: 25px;
  width: 100%;
  transition: all 0.6s ease-out;
  animation: animate 4s linear infinite;
}

@keyframes animate 
{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}

.content {
  padding: 50px 80px;
  background-color: white;
  font-weight: 300;
  line-height: 30px;
  font-size: 16px;
  text-align: justify;
}
